<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') -%>
<body>
    <section class="bg-light">
        <div class="container-lg">
            <div class="row g-4 justify-content-center align-items-center">
              <div class="col-md-5 text-center text-md-end">
        <h1>
            <div class="display-2">Wrist Watch</div>
        </h1>
        <p class="lead my-4 text-muted"></p>
        <a href="/more" class="btn btn-secondary btn-lg">Buy Now</a>

        <a href="/more" class="d-block mt-3" role="button" aria-controls="sidebar">
            Explore other wristWatch
          </a>
            </div>
        
        <div class="col-md-5 text-center d-md-block d-none">
        <img  src="./images/watch3.jpeg"  class="img-fluid" alt="ebook"/>
        </div>
        </div>
            
            </div>
    </section>
    
</body>
<%- include('./partials/footer.ejs') -%>
</html>